.lfo-wrapper {
  width: 100%;
  background-color: #1e3048;
}

.lfo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 80px;
}

.lfo-subtitle {
  line-height: 39px;
  color: #9fb0c9;
  text-align: center;
  max-width: 750px;
}

.lfo-button {
  margin-top: 40px;
  padding: 12px 40px;
  font-size: 18px;
  line-height: 25px;
}

.lfo-preview {
  margin-top: 40px;
  width: 70%;
  height: 70%;
  margin-right: 5%;
  margin-bottom: 100px;
}
