.maincard-background {
  position: relative;
  /* z-index: 1; */
  width: 100%;
  margin-top: -50px;
}

@media (min-width: 992px) {
  .maincard-background {
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: -150px;
  }
}
