.title {
  font-weight: 800;
  font-size: 45px;
  line-height: 120%;
  color: #222222;
}

.subtitle {
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

.letters-button {
  padding: 15px 50px;
  font-size: 18px;
  margin-left: 5px;
}

.illustration {
  position: relative;
  z-index: 2;
}

.anim-typewriter {
  animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

.line {
  width: 16em;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 16em;
  }

  back {
    width: 0em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}

@media (min-width: 768px) {
  .container {
    display: flex;
    justify-content: flex-start;
    padding: 50px 300px;
  }
}
