@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap");

.products-wrapper {
  background-color: #ebf8ff;
  margin-top: -10px;
  padding-bottom: 100px;
}

.products-title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 66px;
  color: #222222;
  display: flex;
  justify-content: center;
}

.products-container {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
}

.products-card-wrapper {
  background: #ffffff;
  border: 1px solid #e2e8f0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  height: 450px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.products-card-title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
  width: 80%;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-card-body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 75%;
  height: 170px;
}

.products-signup-button {
  margin-left: 0px;
  width: 60%;
  font-size: 20px;
  line-height: 25px;
}

.learn-more {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #4a5568;
  margin-top: 22px;
}
