.quote-image {
  width: 150px;
}

.quote-text {
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  max-width: 550px;
}

.quote-author-text {
  font-size: 22px;
}

.quote-author-image {
  max-width: 100px;
}

.quote-symbol {
  font-size: 150px;
  font-family: "Libre Baskerville";
}

.testimonial-title {
  font-size: 32px;
}
