.get-started-container {
  padding-left: 20%;
  padding-right: 20%;
}

.get-started-right-container {
  max-width: 750px;
}

.get-started-subtitle {
  line-height: 31px;
  color: #00284c;
  max-width: 500px;
}

.get-started-button {
  padding: 8px 47px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 20px;
}

.country-map {
  width: 40%;
  height: 40%;
}
