.lff-subtitle {
  line-height: 31px;
  color: #5884ab;
  max-width: 500px;
}

.lff-list {
  margin-top: 1em;
  line-height: 50px;
  color: #002342;
}

.lff-button {
  padding: 8px 47px;
  margin-left: 0px;
  margin-top: 80px;
  margin-bottom: 100px;
  font-size: 20px;
}

.lff-right-container {
  display: flex;
  align-items: center;
  width: 50%;
}
