.products-wrapper {
  margin-top: -10px;
  padding-bottom: 100px;
}

.products-title {
  /* font-weight: 800; */
  line-height: 66px;
  display: flex;
  justify-content: center;
}

.products-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 50px;
}
