@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

:root {
  --main-primary-color: #3182ce;
  --main-cta-color: #319795;
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  padding: 9px 25px;
  margin-left: 23px;
  font-weight: 700;
  background-color: var(--main-cta-color);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #4fd1c5;
}

li,
a {
  font-size: 16px;
  font-weight: 400;
  color: #2d3748;
  text-decoration: none;
}

.navbar {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px 0px;
}
.bg-light {
  background-color: white !important;
}

.white {
  color: white;
}

.bg-blue {
  background-color: var(--main-primary-color);
}
