.title {
  font-weight: 800;
  font-size: 45px;
  line-height: 120%;
  color: #222222;
}

.subtitle {
  max-width: 500px;
  line-height: 25px;
  color: #000000;
}

.letters-button {
  padding: 15px 50px;
  font-size: 18px;
}

.illustration {
  position: relative;
  z-index: 2;
  height: 300px;
}

.anim-typewriter {
  animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

.line {
  width: 16em;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.media-container {
  z-index: 999;
}
.media-article {
  max-height: 15px;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    justify-content: flex-start;
    padding: 50px 300px;
  }

  .media-article {
    max-height: 20px;
  }

  .illustration {
    position: relative;
    z-index: 2;
    height: 100%;
  }

  .letters-button {
    max-width: 75%;
  }
}
