.title {
  font-weight: 800;
  font-size: 45px;
  line-height: 120%;
  color: #222222;
}

.subtitle {
  max-width: 500px;
  line-height: 25px;
}

.letters-button {
  padding: 15px 50px;
  font-size: 18px;
}

.illustration {
  position: relative;
  z-index: 2;
  height: 350px;
}

.media-container {
  z-index: 999;
}
.media-article {
  max-height: 20px;
}

.letter-counter {
  border-bottom: 4px solid rgb(247, 247, 250);
}

@media (min-width: 768px) {
  .container {
    display: flex;
    justify-content: flex-start;
    padding: 50px 300px;
  }

  .media-article {
    max-height: 20px;
  }

  .illustration {
    position: relative;
    z-index: 2;
    height: 100%;
    margin-top: 100px !important;
  }

  .letters-button {
    max-width: 75%;
  }
}
